/* Created By Enrico Bernardi 
     ITT MONTANI - FERMO */

.body {
    background-color: black;
    background-image: url("../images/image-background.jpeg");
    color: white;
    margin-top: 2%;
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Internet Explorer */
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Opera < 12.1 */
  @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

/* DANTE-CLOUD TRANSITION */
@keyframes cante-cloud-transitionIn {
    from {
      transform: translateX(300px);
    }
  
    to {
      transform: translateX(0);
    }
  }
  
/* HEADER CLASS */
.header {
    text-align: center;
}

/* CONTENT CLASSES */
.content{
    margin-top: 5%;
}

.dante-cloud {
    animation: cante-cloud-transitionIn 3s;
}

.notes {
    color: rgb(216, 216, 216);
    margin-right: 35%;
    margin-left: 35%;
    margin-bottom: 5%;
    font-family: 'Comforter Brush', cursive;
    font-family: 'VT323', monospace;
    font-size: 25px;
}

/* CAROUSEL START (BOOTSTRAP) */
.carousel-div {
    text-align: center;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
/* CAROUSEL END */

/* SPACES SECTION */
.hr_short {
    width: 20%;
}

.hr_mid {
    width: 40%;
}

/* DOWNLOAD SECTION */
.download-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 2%;
}

.download-btn {
    padding: 15px;
    border-radius: 10px;
    background-color: sandybrown;
    color: white;
    font-weight: bold;
    transition-duration: 1s;
    -webkit-box-shadow: 0px 0px 33px 3px #e78936c0; 
    box-shadow: 0px 0px 33px 3px #e78936c0; 
}

.download-btn:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(231, 137, 54);
    transition-duration: 1s;
    -webkit-box-shadow: 0px 0px 33px 8px #fa7908; 
    box-shadow: 0px 0px 33px 8px #fa7908;
}

.github a {
    color: rgb(161, 161, 161);
    text-decoration: none;
    transition-duration: 1s;
}

.github a:hover{
    color: white;
    text-decoration: none;
    transition-duration: 1s;
    
}

.montani-logo {
  transition-duration: 1s;
  padding: 10px;
}

.montani-logo:hover{
  transition-duration: 1s;
}

.return-btn {
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(138, 132, 127);
  color: white;
  font-weight: bold;
  transition-duration: 1s;
  text-decoration: none;
  color: white;
}

.return-btn:hover{
  text-decoration: none;
  color: white;
  transition-duration: 1s;
  -webkit-box-shadow: 0px 0px 33px 8px #adadad; 
  box-shadow: 0px 0px 33px 8px #adadad;
}

/* FOR DISPLAY UNDER 1300PX */
@media only screen and (max-width: 1300px) {
    .title{
        width: 400px;
    }
    .subtitle{
        width: 200px;
    }
    .notes {
        margin-right: 5%;
        margin-left: 5%;
    }
    @keyframes cante-cloud-transitionIn {
        from {
          transform: translateX(0);
        }
      
        to {
          transform: translateX(0);
        }
      }
}

/* FOR DISPLAY UNDER 600PX */
@media only screen and (max-width: 600px) {
    .title{
        width: 300px;
    }
    .subtitle{
        width: 100px;
    }
}